body {
    background-color: #F08080;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#title {
    color: white;
    text-align: center;
    font-size: 900%;
}

.start {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 500%;
}

a {
    color: white;
    text-decoration: none;
}

@media (max-width: 767px) {
    #title {
        font-size: 500%;
        margin-top: 0;
    }

    .start {
        font-size: 300%;
        margin-top: 20px;
    }
}