body {
    background-color: #F08080;
    font-family: Arial, sans-serif;
}

#title {
    color: white;
    text-align: center;
    margin-top: 15%;
    font-size: 900%;
}

.start {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 500%;
}

a {
    color: white;
}


@media (max-width: 767px) {
    #title {
        font-size: 500%;
        margin-top: 30%;
    }

    .start {
        font-size: 300%;
        margin-top: 20px;
    }
}